@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Open+Sans:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap');

html {
  box-sizing: border-box;
  font-size: 100%;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  background-color: #fdfdfd;
  font-family: 'Roboto', sans-serif;
}

.header {
  padding: 12px;
  font-size: 14px;
  @media (min-width: 768px) {
    padding: 32px;
    font-size: 20px;
  }
}

.main {
  @media (min-width: 768px) {
    border: thin solid;
    display: flex;
    justify-content: space-between;
    padding-inline: 53px;
    gap: 20px;
  }

  .btn {
    background: darkcyan;
    color: white;
    font-size: 15px;
    letter-spacing: 1.3px;
    padding: 8px 9px;
    border: none;
    border-radius: 7px;
    box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    margin-left: auto;
    display: block;
    margin-right: 41px;

    &.active {
      transform: scale(1.05);
    }
  }
}

.disp-scores {
  .score-btn {
    width: 60%;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;

    .refresh {
      height: 34px;
      border: thin solid #0a8585;
    }
  }

  ul {
    margin: 21px 16px;
  }

  li {
    list-style-type: none;
    background: #d4fdf5;
    padding: 14px;
    margin: 0;

    &:nth-of-type(even) {
      background: #266969;
      color: white;
    }
  }
}

.form {
  position: relative;

  h3 {
    text-align: center;
    font-size: 24px;
  }

  ul {
    padding: 13px;
  }

  input[type='text'] {
    width: 100%;
    padding: 14px;
    font-size: 16px;
    border: thin solid #00a7a7;

    &:focus {
      border: thin solid blue;
    }
  }
}

li {
  margin-bottom: 27px;
  list-style-type: none;
}

.refresh {
  height: 27px;
  margin-left: 12px;
}

.score-btn {
  display: flex;
  align-items: center;
}

.error {
  color: red;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  position: absolute;
  left: 34px;
  font-family: poppins;
  top: 96px;
  font-size: 13px;
}
